.containerHeader {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    background-color: var(--background);
}

.containerHeader > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.containerHeader .btnAsideMenu {
    width: 15%;
}

.containerHeader .logo {
    width: 25%;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}



.containerHeader .wallpaper {
    width: 60%;
    text-align: end;
    
}




