.containerHeader {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    background-color: var(--background);
}

.containerHeader > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.containerHeader .btnAsideMenu {
    /* width: 15%; */
    padding: 1.2rem;

}

.containerHeader .btnAsideMenu img {
    max-width: 36px;
    min-width: 16px;
    width: 90%;
    height: auto;
}

.containerHeader .logo {
    display: flex;
    /* width: 25%; */
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.containerHeader .logo img {
    max-width: 200px;
    min-width: 60px;
    width: 90%;
    height: auto;
}

.containerHeader .wallpaper {
    /* width: 60%; */
    text-align: end;
}

.containerHeader .wallpaper img {
    max-width: 300px;
    min-width: 100px;
    width: 100%;
    height: auto;
}




