
  
   .logo {
       height: auto;
       width: 108px;
       grid-area: logo;
       justify-content: center;
       align-content: center;
   }
   
   .btnAsideMenu {
       grid-area: btnAsideMenu;
       align-self: center;
       background: none;
   }
   
   .btnAsideMenu img {
       width: 3rem;
       height: 2rem;
       padding: 0 0 0 1rem;
   
   }
   
   .wallpaper {
       display: flex;
       grid-area: wallpaper;
       justify-content: flex-end;    
   }
   
   .wallpaper img {
       width: auto;
       height: 95%;
   }
   
   .menu {
       grid-area: menu;
   }
   
   