.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 15px 40px;
    display: flex;
    flex-wrap: wrap;
}

.container > a {
    margin: 20px 10px;
}





.card {
    flex: 1;
    max-height: 180px;
    max-width: 132px;
    min-width: 120px;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: var(--white);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 10px rgb(230, 226, 226) ;
}

.card img {
    width: 100%;
    transform: translateY(-30%);
}

.card > div > div {
    transform: translateY(-25%);
    padding: 0 10px;
}

.card strong {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: var(--title);
    text-transform: uppercase;
}

.card p {
    transform: translateY(10%);
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: var(--title);
}

.card h1 {
    padding: 10px 0;
    transform: translateY(50%);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: var(--background);
    border-top: 2px solid var(--secundary);
}


@media(min-width: 768px){
    .container {
        padding: 15px 80px;
    }
}

@media(min-width: 400px) and (max-width: 760px){
    .container {
        padding: 15px 60px;
    }
}

@media(max-width: 375px){
    .card strong {
        font-size: 12px;
    }
    .card p {
        font-size: 10px;
    }
    .card h1 {
        font-size: 14px;
    }
}

@media(max-width: 358px){
    .container {
        padding: 15px 20px;
    }
    .card {
        max-height: 180px;
        min-width: 100px;
    }
    .card > div > div {
        padding: 16px;
    }
}