
.container {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.headerContainer{
    background: var(--background);
    display: grid;
    grid-template-areas: 
       "btnAsideMenu   wallpaper"
       "logo           wallpaper"
       "menu           menu";
       grid-template-columns: 2fr 3fr;
       grid-template-rows: 3fr 8fr 1.5fr;
   }

.container section {
    flex: 1;
    display: grid;
    grid-template-rows: 1.13fr 1.58fr 0.27fr;
}

.cardContainer{
    background: var(--secundary);
    border-radius: 30px 30px 0 0;
}