.card:hover {
    //  background-color: #cccccc15;
    border: solid 1px var(--background);
}

.card {
    flex: 1;
    box-sizing: border-box;
    position: relative;
    height: 15rem;
    min-height: 15rem;
    width: 10.5rem;
    max-width: 10.5rem;
    min-width: 7.5rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: var(--white);
    border-radius: 10px;
    text-align: center;
    box-shadow: 7px 10px 15px rgb(199, 199, 199);
    margin: 15px 10px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    img {
        margin-top: 0.6rem;
        height: 50%;
    }

    .container {
        text-align: center;
        height: 100%;
        transform: translateY(-14%);

        .cardDetail {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 8.5rem;
            width: 100%;
            font-family: "Montserrat", sans-serif;
            padding: 5px 0.5rem;
            font-weight: 300;
        }

        strong,
        p,
        h1 {
            font-family: "Montserrat", sans-serif;
        }

        strong {
            font-size: 0.875rem;
            color: var(--title);
            text-align: center;
            text-transform: uppercase;
        }

        .p {
            // background-color: aqua;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            font-size: 11px;
            color: var(--title);
        }

        h1 {
            justify-content: flex-end;
            // position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding-top: 10px;
            font-size: 1.2rem;
            color: var(--background);
            border-top: 2px solid var(--secundary);
        }
    }
}

@media (max-width: 375px) {
    .card {
        strong {
            font-size: 12px;
        }

        p {
            font-size: 10px;
        }

        h1 {
            font-size: 14px;
        }
    }
}

@media (max-width: 358px) {
    .card {
        max-height: 180px;
        max-width: 100px;
        min-width: 100px;

        div {
            div {
                padding: 16px;
            }
        }
    }
}

@media (min-width: 768px) {
    .card {
        min-width: 128px;
    }
}
