.containerFooter {
    width         : 100%;
    position      : -webkit-sticky;
    position      : sticky;
    display       : flex;
    flex-direction: row;
    flex-wrap     : nowrap;
    margin        : 0 auto;
    padding       : 10px 0px;
    background    : var(--background);
    text-align    : center;
    bottom        : 0;
    // box-shadow    : 0 -1px 5px rgb(0 0 0 / 15%);
    max-width: 658px;
    height: 58px;
    min-width: 200px;


    .containerButton {
        width          : 100%;
        display        : flex;
        align-items    : center;
        justify-content: center;

        .footerButton,
        .footerButtonActive {
            width        : 70%;
            background   : transparent;
            align-items  : center;
            outline      : none;
            border-radius: 10px;
        }

        .footerButton {
            border: 1px solid transparent;
        }

        .footerButtonActive {
            border: 1px solid var(--white);
        }

        .footerButton,
        .footerButtonActive {
            img {
                width : 25px;
                height: 25px;
            }

            strong {
                font-family: 'Montserrat', sans-serif;
                font-size  : 9px;
                color      : var(--white);
            }

            .ButtonContent {
                display       : flex;
                flex-direction: column;
                align-items   : center;

                .orderCircleContainer {
                    margin-left   : 20px;
                    display       : flex;
                    flex-direction: row;

                    .orderCircle,
                    .AmptyOrderCircle {
                        width         : 0.813rem;
                        height        : 0.813rem;
                        margin-left   : 5px;
                        border-radius : 50%;
                        vertical-align: middle;
                        text-align    : center;
                        transition    : all 0.3s ease;
                    }

                    .orderCircle {
                        background: var(--white);
                    }

                    .AmptyOrderCircle {
                        background: transparent;
                    }

                    .orderCircle,
                    .AmptyOrderCircle {
                        p {
                            font-family: 'Montserrat', sans-serif;
                            font-size  : 9px;
                            color      : var(--background);
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 320px) {

    .footerButton,
    .footerButtonActive {
        img {
            width : 20px;
            height: 20px;
        }
    }

    .footerButton,
    .footerButtonActive {
        strong {
            font-size: 7px;
        }
    }
}

@media(min-width: 1024px) {

    .footerButton,
    .footerButtonActive {
        width: 90%;
    }

    .footerButton,
    .footerButtonActive {
        img {
            width : 30px;
            height: 30px;
        }
    }
}